<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Tornado</title>

		<link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css"/>
		<link rel="stylesheet" href="{{ static_url("css/bootstrap-responsive.css") }}" type="text/css"/>
		<link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css"/> 	
		<!-- <link ref="stylesheet" href="{{ static_url("css/chosen.css") }}" type="text/css"/>
 -->
	</head>
	<body>
		 <div class="container" align="center">{% block body %}{% end %}</div>
	</body>
	
   	<!-- Footer
   	<footer class="footer">
   	</div>
   	 TODO -->
</html>
