{% extends "base.html" %}

{% block body %}
	<div id="header">
		<a href="/" style="text-decoration: none"><h1>Tornado Search</h1></a>
	</div>
	<div id="content">
		<form class="well form-search" method="get" action="/search">
			<div class="controls">
              <select class="span3" name="l4" id="multiSelect"> <!--  multiple="multiple"  -->
              	{% for i in l4 %}
                <option value={{i['id']}}>{{i['name']}}</option>
              	{% end %}
              </select>
            </div>
			</p>

            <div class="controls">
				<select id="branch" name="l5" class="span3">
					{% for b in l5 %}
						<option>{{b['name']}}</option>
					{% end %}		
				</select>
			</div>
        	</p>

			<input class="span3" type="text" name="input" placeholder="svn account">
			</p>
			<button class="btn" label="search" type="submit">
				<span>Search</span>
			</button>
		</form>
	</div>	

	   
{% end %}


