{% extends "base.html" %}
{% block body %}		 
	<a href="/" style="text-decoration: none"><h1>Tornado Search</h1></a>
	<form class="well form-search" method="get" action="/search">
		<input  class="span3" name="input" value="{{acct_name}}" placeholder="svn account">
		<button type="submit" class="btn">Search</button>
	</form>


	
  <div class="page-header" align="left"> <h6>{{ result_size }} results </h6></div>
	
  <div align="left">
  {% set  i=0 %}
  {% for entry in entries %}
    {{ modules.Entry(entry) }}
    <div>
	{% for cp in change_path_set[i] %}
		<ul>
		  <li>
			{% if cp.action == 'M' %}  
				<span class="label">Modified</span>
			{% elif cp.action == 'A' %}
				<span class="label">Added</span>
			{% elif cp.action == 'D' %}
			    <span class="label">Deleted</span>
			{% end %}
			{% if cp.action == 'M' and cp.diff_id <> None and cp.filename <> None %}
				<a href="/diff?cp_id={{cp.id}}">{{ cp.path }}</a>
		    {% else %}
				{{ cp.path }}
			{% end %}
		  </li>
		</ul>
	{% end %}
	{% set i=i+1 %}
    </div>
  {% end %}
   
  
  </div>
  
   <div class="pagination" align="center">
        <ul>
		  {% if result_size > 10 %}
			  {% if actived_page <> 1%}
				<li><a href="/search?acct_name={{acct_name}}&offset={{actived_page-1}}">&laquo;</a></li>   
			  {% end %}
					
			  {% for i in range(1, page_size+1) %}
				{% if actived_page == i %}
					<li class="active"><a href="/search?acct_name={{acct_name}}&offset={{i}}">{{i}}</a></li>
				{% else %}
					<li><a href="/search?acct_name={{acct_name}}&offset={{i}}">{{i}}</a></li>
				{% end %}
			  {% end %}

			  {% if actived_page < page_size %}
				<li><a href="/search?acct_name={{acct_name}}&offset={{actived_page+1}}">&raquo;</a></li>
			  {% end %}
		  {% end %}
        </ul>
    </div>
{% end %}