{% extends "base.html" %}
{% block body %}		 
	<a href="/" style="text-decoration: none"><h1>Tornado Search</h1></a>
	<form class="well form-search" method="get" action="/timeline">
		<div class="controls">
              <select class="span3" name="l4r" id="multiSelect">
              	{% for i in l4r %}
                <option value={{i['id']}}>{{i['name']}}</option>
              	{% end %}
              </select>
        </div></p>

        <div class="controls">
				<select id="branch" name="l5r" class="span3">
					{% for b in l5r %}
						<option>{{b['name']}}</option>
					{% end %}		
				</select>
		</div></p>

		<input class="span3" type="text" name="input" placeholder="svn account"></p>
		<button type="submit" class="btn">Search</button>
	</form>
  <div class="page-header" align="left"> <h3>Change Timeline:</h3><h6>{{ result_size }} results </h6></div>
	
  <div align="left">
  {% set i=0 %}
  {% for entry in entries %}
    {{ modules.Entry(entry) }}
    <div>
	{% for cp in change_path_set[i] %}
		<ul>
		  <li>
			{% if cp.action == 'M' %}  
				<span class="label">Modified</span>
			{% elif cp.action == 'A' %}
				<span class="label">Added</span>
			{% elif cp.action == 'D' %}
			    <span class="label">Deleted</span>
			{% end %}
			{% if cp.action == 'M' and cp.diff_id != None and cp.filename != None %}
				<a href="/diff?cp_id={{cp.id}}">{{ cp.path }}</a>
		    {% else %}
				{{ cp.path }}
			{% end %}
		  </li>
		</ul>
	{% end %}
	{% set i=i+1 %}
    </div>
  {% end %}
   
  
  </div>
  
   <div class="pagination" align="center">
        <ul align="left">
          {% if result_size > 10 %}
			  {% if actived_page != 1 %}
				<li><a href="/timeline?offset={{actived_page-1}}&start={{start_index}}&rs={{result_size}}&l4r={{l4}}&l5r={{l5}}">&laquo;</a></li>   
			  {% end %}	
			
			  {% for i in range(start_index, end_index+1) %}
				{% if actived_page == i %}
					<li class="active"><a href="#">{{i}}</a></li>
				{% else %}
					<li class="prev"><a href="/timeline?offset={{i}}&start={{start_index}}&rs={{result_size}}&l4r={{l4}}&l5r={{l5}}">{{i}}</a></li>
				{% end %}
			  {% end %}
			  
			  {% if actived_page < end_index %}
				<li class="next"><a href="/timeline?offset={{actived_page+1}}&start={{start_index}}&rs={{result_size}}&l4r={{l4}}&l5r={{l5}}">&raquo;</a></li>
			  {% end %}
		  {% end %}
		
        </ul>
    </div>
	
	<script src="{{ static_url( "js/jquery.js" )}}"></script>
{% end %}