<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ static_url("css/bootstrap.css") }}" type="text/css"/>
		<link rel="stylesheet" href="{{ static_url("css/bootstrap-responsive.css") }}" type="text/css"/>
		<!-- <link rel="stylesheet" href="{{ static_url("css/style.css") }}" type="text/css"/> -->

		<title>Tornado</title>
	</head>
	<body>
		 <div class="container" align="center">{% block body %}{% end %}</div>
	</body>
	
   	<!-- Footer TODO -->
   	<div align="center">
   		<p>
   			
   		</p>
   	</div>
</html>
